<h1>Accounts</h1>

<table>
  <thead>
    <tr>
      <th>Account</th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.id %></td>
        <td><%= link_to 'Show', account %></td>
        <td><%= link_to 'Edit', edit_account_path(account) %></td>
        <td><%= link_to 'Delete', account %></td>




      </tr>
    <% end %>
  </tbody>
</table>