
<p>
  <strong>Account:</strong>
  <%= @account.id %>
   <% @account.users.each do |u| %>
   <%= u.email %>
   <% end %>
</p>



<%= link_to 'Back', accounts_path %>
<%= link_to 'Edit', edit_account_path %>

